.showreel {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-100);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showreel .showreel-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  border-radius: 2rem;
  overflow: hidden;
}

.showreel .showreel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showreel .volume-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-100);
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .showreel {
    height: 50svh;
  }

  .showreel .showreel-container {
    transform: scale(0.9);
    border-radius: 1rem;
  }

  .showreel .volume-icon {
    width: 4rem;
    height: 4rem;
  }

  .showreel .volume-icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .showreel {
    height: 40svh;
  }
  
  .showreel .showreel-container {
    transform: scale(1);
    border-radius: 0;
  }
}
